@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
a{
    text-decoration: none;
}

.screen {
    width: 100%;
}

.login-section {
    width: 100%;
    background-color: black;
    padding-top: 10rem;
    height: 100vh;

}

.login-container {
    width: 65%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    /* color: #16181f; */
}

.login-left {
    width: 50%;
    /* border: 1px solid white; */
    background: linear-gradient(269.57deg, rgba(15, 16, 20, 0.95) 16.24% rgba(15, 16, 20.0) 98.46%);

}

.login-left img {
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: -1; */
}

.login-right {
    width: 50%;
    /* border: 1px solid white; */
    padding: 2rem;
    background-color: #16181f;

}

.login-close {
    width: 100%;
    text-align: right;
    /* margin-bottom: .5rem; */
    cursor: pointer;
}

.login-close i {
    font-size: 1.7rem;
    color: white;
}

.login-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.login-inputs {
    width: 100%;
    margin-bottom: 1.5rem;

}
.login-submit{
    width: 100%;
    margin-bottom: 1.5rem;
}
.login-submit input{
    width: 100%;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .9rem .5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #4888f7 0%, #062b9b 100%), radial-gradient(circle at top left, #305ac2, #061f6d);
}
.login-inputs .input-block {
    position: relative;
}

.login-inputs div.input-block input {
    font-weight: 500;
    font-size: 1rem;
    color: #495055;
    width: 100%;
    padding: .7rem .5rem;
    border-radius: .5rem;
    border: .1rem solid gray;
    outline: none;
    background-color: #16181f;
}

.login-inputs div.input-block span.placeholder {
    position: absolute;
    /* margin: 1rem 0 1.5rem 0; */
    margin-top: .7rem;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #6c757d;
    display: flex;
    align-items: center;
    font-size: 1rem;
    top: 0;
    left: 1.7rem;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

.login-inputs div.input-block input:valid+span.placeholder,
.login-inputs div.input-block input:focus+span.placeholder {
    transform: scale(0.8) translateY(-1.5rem);
    background: #16181f;
}

.login-inputs div.input-block input:focus {
    color: white;
    border-color: gray;
}

.login-inputs div.input-block input:focus+span.placeholder {
    color: gray;
}

.login-footer {
    width: 100%;
    margin-top: 6rem;
}

.login-footer p {
    color: #8f9891;
    font-size: 1.2rem;
    text-align: center;
}

.get-help {
    color: #3586f0;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: capitalize;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #16181f;

}
.nav-wrapper{
    width: 9%;
    border: 1px solid salmon;
    height: 40rem;
    background-color: #16181f;
    display: flex;
    flex-direction: column;
}
.main-content{
    width: 91%;
    border: 1px solid black;
    height: 40rem;
}
.logo-and-subscribe{
    width: 80%;
    margin:  1rem auto;
    /* border: 1px solid salmon; */
}
.logo{
    width: 60%;
    margin: auto;
}
.logo img{
    width: 100%;
}
.home-subscribe{
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: .3rem;
    background-color: rgba(236, 214, 173, 0.242);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .4rem;
}
.home-subscribe a{
    font-size: .8rem;
    color: rgb(249, 206, 125);
    text-transform: capitalize;

}
.home-subscribe i{
    font-size: .9rem;
    color: rgb(249, 206, 125);
}
.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}
.nav-link i{
    color: gray;
    font-size: 1rem;
    
}
.nav-link:hover i{
    color: white;
    font-size: 1rem;
    
}
.subscribe-section{
    width: 98%;
    margin: 1rem auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.sub-img{
    width: 49%;
    border: 1px solid salmon;
}
.sub-img img{
    width: 100%;
}
.subscribe-wrapper{
    width: 49%;
    border: 1px solid salmon;
    padding: 2rem 0;
}
.subscribe-header{
    width: 100%;
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header-img{
    width: 9%;
}
.sub-header-img img{
    width: 100%;
}
.subscribe-header-content{
    width: 90%;
    
}
.subscribe-content input{
    color: gray;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: .7rem;
    border: none;
    border-radius: .8rem;
    margin-top: 3rem;

}
.subscribe-header-content h4{
    color: white;
    font-size: 1.2rem;
    margin-bottom: .8rem;
}
.subscribe-header-content p{
    color: gray;
    font-size: .8rem;
}
.subscribe-content{
    width: 70%;
}
.subscribe-content h5{
    margin-top: 1rem;
    color: white;
    letter-spacing: .04rem;
    font-weight: normal;
    font-size: 1rem;
}


























































