@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
html {
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

.screen {
    width: 100%;
}

.login-section {
    width: 100%;
    background-color: black;
    padding-top: 15rem;
    height: 100vh;

}

.login-container {
    width: 65%;
    margin:  auto;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    /* color: #16181f; */
}

.login-left {
    width: 50%;
    /* border: 1px solid white; */
    background: linear-gradient(269.57deg, rgba(15, 16, 20, 0.95) 16.24% rgba(15, 16, 20.0) 98.46%);

}

.login-left img {
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: -1; */
}

.login-right {
    width: 50%;
    /* border: 1px solid white; */
    padding: 2rem;
    background-color: #16181f;

}

.login-close {
    width: 100%;
    text-align: right;
    /* margin-bottom: .5rem; */
    cursor: pointer;
}

.login-close i {
    font-size: 2rem;
    color: white;
}

.login-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 600;
}

.login-inputs {
    width: 100%;
    margin-bottom: 2.5rem;

}
.login-submit{
    width: 100%;
    margin-bottom: 1.5rem;
}
.login-submit input{
    width: 100%;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1.2rem .5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #4888f7 0%, #062b9b 100%), radial-gradient(circle at top left, #305ac2, #061f6d);
}
.login-inputs .input-block {
    position: relative;
}

.login-inputs div.input-block input {
    font-weight: 500;
    font-size: 2rem;
    color: #495055;
    width: 100%;
    padding: 1.4rem 1rem;
    border-radius: .5rem;
    border: .1rem solid gray;
    outline: none;
    background-color: #16181f;
}

.login-inputs div.input-block span.placeholder {
    position: absolute;
    /* margin: 1rem 0 1.5rem 0; */
    margin-top: 1.2rem;
    padding: 0 .5rem;
    font-family: Roboto, sans-serif;
    color: #6c757d;
    display: flex;
    align-items: center;
    font-size: 2rem;
    top: 0;
    left: 1.7rem;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

.login-inputs div.input-block input:valid+span.placeholder,
.login-inputs div.input-block input:focus+span.placeholder {
    transform: scale(0.8) translateY(-2.6rem);
    background: #16181f;
}

.login-inputs div.input-block input:focus {
    color: white;
    border-color: gray;
}

.login-inputs div.input-block input:focus+span.placeholder {
    color: gray;
}

.login-footer {
    width: 100%;
    margin-top: 6rem;
}

.login-footer p {
    color: #8f9891;
    font-size: 1.6rem;
    text-align: center;
}

.get-help {
    color: #3586f0;
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: capitalize;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f1014;

}
.nav-wrapper{
    width: 9%;
    border: 1px solid salmon;
    /* height: 40rem; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}
.main-content{
    width: 100%;
    border: 1px solid orangered;
    /* height: 40rem; */
}
.logo-and-subscribe{
    width: 80%;
    margin:  1.5rem auto;
    /* border: 1px solid salmon; */
}
.logo{
    width: 60%;
    margin: auto;
}
.logo img{
    width: 100%;
}
.home-subscribe{
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    background-color: rgba(236, 214, 173, 0.242);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .8rem;
}
.home-subscribe a{
    font-size: 1.2rem;
    color: rgb(249, 206, 125);
    text-transform: capitalize;

}
.home-subscribe i{
    font-size: 1.1rem;
    color: rgb(249, 206, 125);
}
.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}
.nav-link{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid salmon; */
    margin: 1rem auto;

}
.nav-link i{
    color: gray;
    font-size: 1.7rem;
    
}
.nav-link:hover i{
    color: white;
    
}
.subscribe-section{
    width: 86%;
    margin: 1rem auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    background-color: #16181f;
}
.sub-img{
    width: 49%;
    border: 1px solid salmon;
}
.sub-img img{
    width: 100%;
}
.subscribe-wrapper{
    width: 49%;
    border: 1px solid salmon;
    padding: 3rem 0;
}
.subscribe-header{
    width: 100%;
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header-img{
    width: 9%;
}
.sub-header-img img{
    width: 100%;
}
.subscribe-header-content{
    width: 90%;
    
}
.subscribe-content input{
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 1.4rem 5rem;
    border: none;
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: #252833;
}
.subscribe-header-content h4{
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: .8rem;
}
.subscribe-header-content p{
    color: #8f98b2;
    font-size: 1.4rem;
}
.subscribe-content{
    width: 70%;
}
.subscribe-content h5{
    margin-top: 1rem;
    color: white;
    letter-spacing: .04rem;
    font-weight: normal;
    font-size: 1rem;
}
.banner{
    width: 100%;
    border: 1px solid white;
    margin: 2rem 0;
    object-fit: cover;
    height: 100vh;

    
}
.media-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6rem 10rem 0 12rem;
    position: absolute;
    margin-top: -60rem;
}
.media-content-left{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid salmon;

}
.media-content-right{
    width: 47%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border: 1px solid purple;

}
.media-content-left-head{
    width: 100%;
    margin-bottom: 2rem;
}
.media-img{
    width: 100%;
    margin-bottom: 1.3rem;
}
.media-desc-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.m-d-w-head{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.m-d-content{
    width: 100%;
    margin-bottom: 1.5rem;
}
.m-d-content p{
    font-size: 1.6rem;
    color: white;
    line-height: 2.3rem;
    font-weight: 600;
}
.m-d-w-head span{
    color:  #FFFFFFD6;
    font-size: 1.6rem;
    padding: .5rem 1rem .5rem 0;
    font-weight: 550;
    text-align: center;
}
.media-desc-wrapper span:nth-child(7){
    background-color: hsla(0,0%,100%,.08);
    padding-left: 1rem;
}
.h-watch-now-btn{
    width: 75%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.08);
    border: none;
    border-radius: .7rem;
}
.h-watch-now-btn i{
    font-size: 1.5rem;
    color: white;
}
.h-watch-now-btn span{
    font-size: 1.6rem;
    margin: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
}
.h-add-wishlist{
    width: 15%;
    border: 1px solid white;
    text-align: center;
    background-color: hsla(0,0%,100%,.08);
    border: none;
    border-radius: .7rem;
}
.h-add-wishlist i{
    font-size: 1.6rem;
    color: white;
    margin: 1.2rem;
    font-weight: 600;
}
.media-gener{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}
.media-gener span{
    color: #FFFFFFD6;
    font-size: 1.6rem;
    padding: .5rem 1rem .5rem 0;
    font-weight: 550;
}
.h-watch-now-add-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-mute{
    width: 100%;
    margin: 2rem 0;
    text-align: right;
}
.h-mute i{
    font-size: 2.5rem;
    color: white;
}
.banner-slides-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.b-slide-move-icon{
    width: 5%;
    padding: 1.6rem;
    text-align: center;
    border: 1px solid salmon;
}
.b-slide-move-icon i{
    font-size: 1.5rem;
    color: white;
}
.banner-slide{
    width: 16%;
    border: 1px solid salmon;
}
.banner-slide img{
    width: 100%;
}

/* ---category---- */

.category-section{
    width: 90%;
    margin: 1rem auto;
    border: 1px solid black;
    margin-left: 9%;
    border: 1px solid salmon;
}
.category{
    width: 100%;
    position: relative;
}
.category-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    color: white;
}
.slide-container{
    width: 95%;
    display: flex;
    align-items: center;
    position: absolute;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    margin: 0  auto 0 3rem;
    padding-left: 1rem;
}
.slide-container::-webkit-scrollbar{
    display: none;
}
.slide{
    position: relative;
    width: 20rem;
    border: 1px solid white;
    border-radius: .5rem;
    margin-right: 1rem;
    transition: .5s;
}
.slide:hover{
    transform: scale(1.1);
}
.slide:hover .slide-content{
    opacity: 1;
}
.slide img{
    width: 100%;
    object-fit: cover;
}
.slide-content{
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top:  6rem;
    transition: .5s;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 98%);
    opacity: 0;
}
.c-watch-now-btn{
    width: 100%;
    margin: .5rem 0;
    background-color: #fff;
    padding: .7rem;
    /* position: absolute; */
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: capitalize;
}
/* .c-watch-now-btn span:nth-child(1) i{
    color: black;
    margin-right: .5rem;
    font-size: 1.6rem;

}
.c-watch-now-btn span:nth-child(2){
    color: black;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: #fff;
    text-transform: capitalize;
    font-weight: 600;
} */
.short-info{
    width: 100%;
    margin: .5rem 0 0 0;
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}
.short-info span{
    width: auto;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: white;
    margin-right: .2rem;
}
.short-info .dot{
    font-size: 1.3rem;
    text-align: center;
}
.c-desc{
    width: 100%;
    margin-top: .5rem;
}
.c-desc p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.back-btn, .next-btn{
    width: 5%;
    z-index: 2;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}
.back-btn{
    left: 0;
}
.next-btn{
    right: 0;
}
.back-btn i{
    font-size: 1.4rem;
    color: black;
    margin-top: 12rem;
}
.next-btn i{
    font-size: 1.4rem;
    color: black;
    margin-top: 12rem;
}

























