@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
html {
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

.screen {
    width: 100%;
}
.body{
    background-color: black;
}
.login-section {
    width: 100%;
    background-color: black;
    /* padding-top: 15rem; */
    /* height: 100vh; */

}
.register-section{
    width: 100%;
    background-color: black;

}
.register-section .login-container{
    width: 80%;
}
.login-container {
    width: 65%;
    margin:  10rem auto;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    /* color: #16181f; */
}

.login-left {
    width: 50%;
    /* border: 1px solid white; */
    background: linear-gradient(269.57deg, rgba(15, 16, 20, 0.95) 16.24% rgba(15, 16, 20.0) 98.46%);
    
}

.login-left img {
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: -1; */
}

.login-right {
    width: 50%;
    /* border: 1px solid white; */
    padding: 2rem;
    background-color: #16181f;

}

.login-close {
    width: 100%;
    text-align: right;
    /* margin-bottom: .5rem; */
    cursor: pointer;
}

.login-close i {
    font-size: 2rem;
    color: white;
}

.login-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 600;
}

.login-inputs {
    width: 100%;
    margin-bottom: 2.5rem;

}
.login-submit{
    width: 100%;
    margin-bottom: 1.5rem;
}
.login-submit input{
    width: 100%;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1.2rem .5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #4888f7 0%, #062b9b 100%), radial-gradient(circle at top left, #305ac2, #061f6d);
}
.login-inputs .input-block {
    position: relative;
}

.login-inputs div.input-block input {
    font-weight: 500;
    font-size: 2rem;
    color: #495055;
    width: 100%;
    padding: 1.4rem 1rem;
    border-radius: .5rem;
    border: .1rem solid gray;
    outline: none;
    background-color: #16181f;
}

.login-inputs div.input-block span.placeholder {
    position: absolute;
    /* margin: 1rem 0 1.5rem 0; */
    margin-top: 1.2rem;
    padding: 0 .5rem;
    font-family: Roboto, sans-serif;
    color: #6c757d;
    display: flex;
    align-items: center;
    font-size: 2rem;
    top: 0;
    left: 1.7rem;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

.login-inputs div.input-block input:valid+span.placeholder,
.login-inputs div.input-block input:focus+span.placeholder {
    transform: scale(0.8) translateY(-2.6rem);
    background: #16181f;
}

.login-inputs div.input-block input:focus {
    color: white;
    border-color: gray;
}

.login-inputs div.input-block input:focus+span.placeholder {
    color: gray;
}

.login-footer {
    width: 100%;
    margin-top: 6rem;
}

.login-footer p {
    color: #8f9891;
    font-size: 1.6rem;
    text-align: center;
}

.get-help {
    color: #3586f0;
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: capitalize;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f1014;

}
.nav-wrapper{
    width: 13%;
    height: 100%;
    /* border: 1px solid palevioletred; */
    /* height: 40rem; */
    /* background-color: transparent; */
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.main-content{
    width: 100%;
    /* border: 1px solid orangered; */
    /* height: 40rem; */
}
.logo-and-subscribe{
    width: 40%;
    margin:  1.5rem ;
    /* border: 1px solid salmon; */
}
.logo{
    width: 60%;
    margin: auto;
}
.logo img{
    width: 100%;
}
.home-subscribe{
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    background-color: rgba(236, 214, 173, 0.242);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .8rem;
}
.home-subscribe a{
    font-size: 1.2rem;
    color: rgb(249, 206, 125);
    text-transform: capitalize;

}
.home-subscribe i{
    font-size: 1.1rem;
    color: rgb(249, 206, 125);
}
.nav-menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    /* border: 1px solid orangered; */
}
.nav-link{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid salmon; */
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-link:hover{
    /* background-color: #252833; */
    transition: all 0.5s ease-out;
}
.nav-link i{
    color: rgb(175, 170, 170);
    font-size: 1.7rem;
    width: 20%;
    /* border: 1px solid salmon; */
}
.nav-link:hover i{
    color: white;
    
}
.nav-link span{
    width: 50%;
    color: rgb(175, 170, 170);
    font-size: 1.7rem;
    opacity: 0;
    text-transform: capitalize;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
    /* border: 1px solid salmon; */

}
/* .nav-menu:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
} */
.nav-menu:hover span{
    opacity: 1;
    transition: .5s;
}
.nav-link:hover span{
    color: white;
    /* opacity: 1; */

}
.subscribe-section{
    width: 86%;
    margin: 1rem auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    background-color: #16181f;
}
.sub-img{
    width: 49%;
    /* border: 1px solid salmon; */
}
.sub-img img{
    width: 100%;
}
.subscribe-wrapper{
    width: 49%;
    /* border: 1px solid salmon; */
    padding: 3rem 0;
}
.subscribe-header{
    width: 100%;
    /* border: 1px solid violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header-img{
    width: 9%;
}
.sub-header-img img{
    width: 100%;
}
.subscribe-header-content{
    width: 90%;
    
}
.subscribe-content input{
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 1.4rem 5rem;
    border: none;
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: #252833;
}
.subscribe-header-content h4{
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: .8rem;
}
.subscribe-header-content p{
    color: #8f98b2;
    font-size: 1.4rem;
}
.subscribe-content{
    width: 70%;
}
.subscribe-content h5{
    margin-top: 1rem;
    color: white;
    letter-spacing: .04rem;
    font-weight: normal;
    font-size: 1.5rem;
}
.banner{
    width: 100%;
    /* border: 1px solid white; */
    margin: 2rem 0;
    object-fit: cover;
    /* height: 114vh; */
   
}
.banner video{
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}
#singlePro img{
    background: linear-gradient(to right, #0c111b42 100%, #0c111b00);
}
.media-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem 0 12rem;
    position: absolute;
    margin-top: -50rem;
    /* border: 1px solid white; */
}
.media-content-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid salmon; */

}
.media-content-right{
    width: 45%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* border: 1px solid purple; */

}
.media-content-left-head{
    width: 100%;
    margin-bottom: 2rem;
}
.media-img{
    width: 100%;
    margin-bottom: 1.3rem;
    /* border: 1px solid white; */
}
.media-img img{
    width: 70%;
}
.media-desc-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.m-d-w-head{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.m-d-content{
    width: 100%;
    margin-bottom: 1.5rem;
}
.m-d-content p{
    font-size: 1.6rem;
    color: black;
    line-height: 2.3rem;
    font-weight: 600;
}
.m-d-w-head span{
    color:  black;
    font-size: 1.6rem;
    padding: .5rem 1rem .5rem 0;
    font-weight: 550;
    text-align: center;
}
.media-desc-wrapper span:nth-child(7){
    background-color: hsla(0,0%,100%,.08);
    padding-left: 1rem;
}
.h-watch-now-btn{
    width: 75%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.08);
    border: none;
    border-radius: .7rem;
    cursor: pointer;
}
.h-watch-now-btn:hover{
    background-color: rgba(247, 231, 231, 0.344);
   
}
.h-watch-now-btn i{
    font-size: 1.5rem;
    color: black;
}
.h-watch-now-btn span{
    font-size: 1.6rem;
    margin: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}
.h-add-wishlist{
    width: 15%;
    /* border: 1px solid white; */
    text-align: center;
    background-color: hsla(0,0%,100%,.08);
    border: none;
    border-radius: .7rem;
    cursor: pointer;
}
.h-add-wishlist:hover{
    background-color: rgba(247, 231, 231, 0.344);
   
}
.h-add-wishlist i{
    font-size: 1.8rem;
    color: black;
    margin: 1.2rem;
    font-weight: bold;
}
.media-gener{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}
.media-gener span{
    color: black;
    font-size: 1.6rem;
    padding: .5rem 1rem .5rem 0;
    font-weight: 550;
}
.h-watch-now-add-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-mute{
    width: 100%;
    margin: 2rem 0;
    text-align: right;
    cursor: pointer;
}
.h-mute i{
    font-size: 2.5rem;
    color: black;
}
.banner-slides-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.b-slide-move-icon{
    width: 5%;
    padding: 1.6rem;
    text-align: center;
    /* border: 1px solid salmon; */
}
.b-slide-move-icon i{
    font-size: 1.5rem;
    color: white;
}
.banner-slide{
    width: 16%;
    /* border: 1px solid salmon; */
}
.banner-slide img{
    width: 100%;
}

/* ---category---- */

.category-section{
    width: 91%;
    margin: 1rem auto;
    /* border: 1px solid black; */
    margin-left: 9%;
    /* border: 1px solid salmon; */
}
.latest-and-trending{
    width: 100%;
}
.category{
    width: 100%;
    position: relative;
    height: 28rem;
    margin: 1rem 0 2rem;
}

.banner-slides-wrapper .category{
    height: 5rem;
    margin-bottom: 0;
    
}
.banner-slides-wrapper .slide-container{
    height: 5rem;
    margin-bottom: 0;
}
.banner-slides-wrapper .slide{
    height: 5rem;
    width: 9rem;
    min-width: 9rem;
    margin-bottom: 0;
}
.category-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    color: white;
}
.slide-container{
    width: 98%;
    height: 26rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    position: absolute;
    overflow-x:auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    margin: 0  auto 0 1rem;
    padding-left: 1rem;
}
.slide-container::-webkit-scrollbar{
    display: none;
}
.slide{
    position: relative;
    width: 20rem;
    min-width: 20rem;
    height: 26rem;
    /* border: 1px solid white; */
    border-radius: .5rem;
    margin-right: 1.6rem;
    transition: .5s;
}
.slide:hover{
    transform: scale(1.1);
}

.slide:hover .slide-content{
    opacity: 1;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide .slide-img-div img{
    width: 100%;
}
.slide-content{
    width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    position: absolute;
    /* top: 0; */
    left: 0;
    /* margin-top:  10rem; */
    bottom: 0;
    transition: .5s;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 98%);
    opacity: 0;
    
}
.c-watch-now-btn{
    width: 100%;
    margin: .5rem 0;
    background-color: #fff;
    padding: .7rem;
    /* position: absolute; */
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: capitalize;
}
.short-info{
    width: 100%;
    margin: .5rem 0 0 0;
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}
.short-info span{
    width: auto;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: white;
    margin-right: .2rem;
}
.short-info .dot{
    font-size: 1.3rem;
    text-align: center;
}
.c-desc{
    width: 100%;
    margin-top: .5rem;
}
.c-desc p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.back-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 3;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}


.next-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 3;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;

}


.back-btn {
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    color: white;

}

.next-btn {
    right: 0;
    background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    color: white;
}

.back-btn i,
.next-btn i {
    width: 1.5rem;
    height: 2rem;
    opacity: 0;
}

.back-btn:hover i,
.next-btn:hover i {
    opacity: 1;
}

/* .banner-slides-wrapper .back-btn i,
.next-btn i{
    height: 1rem;
    margin-top: 50%;
}
.banner-slides-wrapper .back-btn ,
.next-btn {
    height: 1rem;
    background: none;

} */
.popular-shows{
    width: 100%;
}
.recommanded-movies{
    width: 100%;
}
.popular-gener{
    width: 100%;
}
.popular-gener .category{
    height: 18rem;
    /* border: 1px solid salmon; */
}
.popular-gener .slide-container{
    height:18rem;
}
.popular-gener .slide{
    min-width: 20%;
    width: 20%;
    height: 15rem;

}
.popular-gener .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.trailors-and-more{
    width: 100%;
}
.trailors-and-more .category{
    height: 22rem;
}
.trailors-and-more .slide-container{
    height:22rem;
}.trailors-and-more .slide{
    min-width: 20%;
    width: 20%;
    height: 15rem;
}
.trailor-and-more-img{
    width: 100%;
}
.trailor-and-more-img img{
    width: 100%;
}
.more-like-this{
    width: 100%;
}
.more-like-this .category-title{
    width: 100%;
    display: flex;
    align-items: center;
}.more-like-this .category-title h3{
    margin-right: 3rem;
    cursor: pointer;
}
.popular-languages{
    width: 100%;
}
.popular-languages .category{
    height: 18rem;
    /* border: 1px solid salmon; */
}
.popular-languages .slide-container{
    height:18rem;
}
.popular-languages .slide{
    min-width: 20%;
    width: 20%;
    height: 15rem;

}
.popular-languages .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* -------footer----- */

.footer {
    width: 91%;
    margin: 1rem auto;
    /* border: 1px solid black; */
    margin-left: 9%;
    /* border: 1px solid salmon; */
    padding: 2rem 3rem 3rem 0;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    /* border: .2rem solid red; */
}

.footer-menus {
    width: 23%;
    /* border: .1rem solid yellow; */
}

.connect-w-us {
    width: 23%;
    /* border: .1rem solid yellow; */

}

.footer-menus-lang {
    width: 23%;
    /* border: .1rem solid yellow; */
}

.footer-menus-lang>a {
    color: #8F98B2;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-link-head {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.company-links {
    display: flex;
    flex-direction: column;
}

.company-links>a {
    color: #8F98B2;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;

}

.h-help {
    display: flex;
    flex-direction: column;
}

.h-help>a {
    color: #8F98B2;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
}

.footer-icons {
    display: flex;
    justify-content: left;
    gap: 3rem;
    padding-top: 1rem;
    align-items: center;
}

.footer-icons>a {
    color: white;
    font-size: 2.2rem;
}

.second-footer {
    width: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.t-conditions {
    width: 65%;
    /* border: .1rem solid blue; */
    display: flex;
    flex-direction: column;
}


.app-images-container {
    width: 35%;
    /* border: .1rem solid blue; */
    display: flex;
    gap: 3rem;
    justify-content: right;
}

.t-conditions>span {
    color: #8F98B2;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
}

.t-conditions>span>a {
    color: #8F98B2;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
    margin-right: 1.4rem;
}

.playstore-img {
    width: 30%;
}

.playstore-img>img {
    width: 100%;
    height: 100%;
}

.appstore-img {
    width: 30%;
}
.appstore-img>img{
    width: 100%;
    height: 100%;
}
.media-name{
    width: 100%;
    color: white;
    font-size: 1.6rem;
    padding: 1rem;
}
.single-product-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f1014;

}
.single-product-container .banner{
    width: 100%;
    /* border: 1px solid white; */
    margin: 0 0 4rem 0;
    object-fit: cover;
    /* height: 114vh; */
   
}


/* ----------cart-container-------- */

.cart-section{
    width: 100%;
    /* border: 1px solid salmon; */
    background-color: #0f1014;

}
.cart-container{
    width: 91%;
    margin-left: 9%;
    border: 1px solid transparent;
    /* border: 1px solid yellow; */
    padding: 4rem 0;
}
.cart--title{
    width: 100%;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
    /* border: 1px solid white; */
    text-transform: capitalize;
}
.cart-inner-container{
    width: 90%;
    /* border: 1px solid orange; */
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
.left-cart{
    width: 58%;
    /* border: 1px solid blue; */
}
.right-cart{
    width: 39%;
    /* border: 1px solid violet; */
    border-left: .1rem solid lightgray;
    padding-left: 2.5rem;
}
.cart-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: .1rem solid lightgray;
    padding-bottom: 2rem;
    
}
.cart-product-img{
    width: 25%;
    /* border: 1px solid salmon; */
}
.cart-product-img img{
    width: 100%;
}
.cart-product-info{
    width: 72%;
    /* border: 1px solid chartreuse; */
    color: white;
}
.product-name{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.price-section{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;

}
.remove-and-delete{
    width: 100%;
    display: flex;
}
.remove-from-cart{
    width: 50%;
    /* border: 1px solid yellow; */
    display: flex;
}
.remove-from-cart i{
    font-size: 1.7rem;
    color: rgb(224, 179, 97);
    padding: .7rem;
}
.remove-from-cart p{
    font-size: 1.7rem;
    color: white;
    padding: .7rem;
    text-transform: capitalize;
}
.c-add-to-wishlist{
    width: 50%;
    /* border: 1px solid yellow; */
    display: flex;
}
.c-add-to-wishlist i{
    font-size: 1.7rem;
    color: rgb(224, 179, 97);
    padding: .7rem;
}
.c-add-to-wishlist p{
    font-size: 1.7rem;
    color: white;
    padding: .7rem;
    text-transform: capitalize;
}
.price{
    font-size: 1.8rem;
    color: white;
    margin-right: 1rem;
}
.del-price{
    font-size: 1.5rem;
    color: gray;
    margin-right: 1rem;
}.off-amt{
    font-size: 1.5rem;
    color: rgb(249, 206, 125);
    margin-right: 1rem;
}
.price-details-title{
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: white;
    border-bottom: .1rem solid lightgray;
    text-transform: capitalize;
    padding: 1rem;
}
.price-deatails-content{
    width: 100%;
    border-bottom: .1rem solid lightgray;
    padding: 1rem;
    margin-bottom: 2rem;
}
.p-qty{
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.p-qty p{
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
}
.c-discount{
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.c-discount p{
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;

}
.c-discount p:nth-child(2){
    color: rgb(249, 206, 125);
}
.c-total-amt{
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.c-total-amt p{
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
}
.price-deatails-content button{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(249, 206, 125, 0.786);
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}
.price-deatails-content button:hover{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(224, 179, 97);
    padding: 1rem;
    margin-bottom: .7rem;
    margin-top: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}
.price-d-footer{
    width: 100%;
    color: rgb(249, 206, 125);
    font-size: 1.8rem;
    font-weight: 700;
    /* border-bottom: .1rem solid lightgray; */
    padding: 1rem;
    
}

#singlePro{
    width: 100%;
    height: 80vh;
}
#singlePro img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}











































































































































